.card {
  margin: 1rem 0 0;
  border-radius: 6px;
  background-color: white;
  padding: 1rem;
  border: 1px solid black;
}

.card:hover {
  background-color: #fafafa;
  border: 1px solid royalblue;
}
